.jobs {
    margin-left: 20rem;
    margin-top: 6rem;
    margin: 6rem 1rem 3rem 20rem;
    box-sizing: border-box;
    background-color: #E3F2FD;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
    
    &__container {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }
}

@media(max-width:1190px) {
    .jobs {
        height: auto;
    
        &__container {
            flex-wrap: wrap;
        }
    }
}

@media(max-width:970px) {
    .jobs {
    margin-bottom: 100px;
}
}