@import '../../styles/partials/variables';

.app-table {
    &__wrapper {
        text-align: center;
        background-color: $primary-theme-light;
        border-radius: 2rem;
        margin: 6rem 2rem 3rem 20rem;
        padding: 2rem 4rem 3rem;
        
        // Modifying Semantic UI Active Class
        & .ui.pagination.menu .active.item {
            color: #fff;
            font-weight: 600;
            background-color:#6435C9;
        }
    }
}