@import '../../styles/partials/variables';

.footer {
    background-color: $primary-theme-dark;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 5rem;

    
}

