@import '../../styles/partials/mixins';

.profile {
    background: linear-gradient(to bottom right, white 0%, $primary-theme-light 70%);
    display: flex;
    flex-direction: column;

    @include tablet {
        flex-direction: row;
    }
}