@import '../src/styles/partials/typography';
@import '../src/styles/partials/variables';
@import '../src/styles/partials/mixins';

body {
    margin: 0rem;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
li {
    margin: 0rem;
    padding: 0;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(to bottom right, white 0%, $primary-theme-light 70%);

    @include tablet {
        flex-direction: row;
    }
}